<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template">
<link rel="stylesheet" type="text/css"
href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<head>
<meta charset="utf-8">
<title>Create produit</title>
</head>
<body layout:fragment="content">
<div class="container">
<div class="card-body">
<form action="saveProduit" method="post">
<div class="form-group">
<label class="control-label">Nom Produit :</label>
<input type="text" name="nomProduit" class="form-control" th:value="${produit.nomProduit}" />
<span th:errors=${produit.nomProduit} class="text-danger"> </span>
</div>
<div class="form-group">
<label class="control-label">Prix Produit :</label>
<input type="text" name="prixProduit" class="form-control" th:value="${produit.prixProduit}"/>
<span th:errors=${produit.prixProduit} class="text-danger"> </span>

</div>
<div class="form-group">
<label class="control-label">date création :</label>
<input type="date" name="date" class="form-control" th:value="${produit.dateCreation}"/>
<span th:errors=${produit.dateCreation} class="text-danger"> </span>
</div>
<div>
<button type="submit" class="btn btn-primary">Ajouter</button>
</div>
</form>
</div>
<div th:if="${msg}">
<p th:text="'Message: '+${msg}"/>
</div>
<br/>
<br/>
<a href="ListeProduits">Liste Produits</a>
</div>
</div>
</body>
</html>