<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
      <link rel="stylesheet" type="text/css"
      href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
      <script src="webjars/jquery/3.5.1/jquery.min.js"></script>
      <script type="text/javascript"
      src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      <head>
      <meta charset="utf-8">
      <title>Gestion des Produits</title>
      </head>
      <body>
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <!-- Brand -->
      <a class="navbar-brand" href="#">Gestion de produits</a>
      <!-- Links -->
      <ul class="navbar-nav">
      <!-- Dropdown -->
      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Produits</a>
      <div class="dropdown-menu">
      <a class="dropdown-item" th:href="@{showCreate}">Ajouter</a>
      <a class="dropdown-item" th:href="@{ListeProduits}">Lister</a>
      </div>
    </li>
</ul>
</nav>

<!-- Content Section -->
<section layout:fragment="content">
    <p>This is filled by the content template.</p>
</section>




</body>
</html>